.li1-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.li1-box-item {
  overflow: hidden;
  flex: 0 0 48%;
  position: relative;
  /* min-height: 300px; */
  margin-bottom: 40px;
}

.li1-box-item:hover img {
  transform: scale(1);
}

.li1-box-item:hover .boxitem-title {
  bottom: 0px;
  opacity: 1;
  transform: scale(1.2);
}

.li1-box-item>img {
  /* width: 100%; */
  height: 100%;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.li1-box-item .boxitem-title {
  position: absolute;
  bottom: -75px;
  left: 0px;
  right: 0px;
  height: 75px;
  text-align: center;
  background-color: var(--headerhover);
  color: var(--headerFont);
  transition: all .3s ease-in-out;
  transform: scale(1);
  font-size: 12px;
}

.boxitem-title h6 {
  font-size: 12px;
  /* display: inline-block; */
  margin: 15px 0 8px;
}


/* 手机*/
@media screen and (max-width: 550px) {
  .li1-box-item {
    flex: auto;
    min-height: auto;
  }
}

/* 灯笼部分 */

.deng-box {
  position: fixed;
  top: 70px;
  right: 150px;
  z-index: 9999;
  pointer-events: none;
}

.deng-box1 {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 9999;
  pointer-events: none
}

.deng-box2 {
  position: fixed;
  top: 70px;
  left: 150px;
  z-index: 9999;
  pointer-events: none
}

.deng-box3 {
  position: fixed;
  top: 50px;
  left: 10px;
  z-index: 9999;
  pointer-events: none
}

.deng-box1 .deng,
.deng-box3 .deng {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 50px;
  background: #d8000f;
  background: rgba(216, 0, 15, .8);
  border-radius: 50% 50%;
  -webkit-transform-origin: 50% -100px;
  -webkit-animation: swing 5s infinite ease-in-out;
  box-shadow: -5px 5px 30px 4px #fc903d
}

.deng {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 50px;
  background: #d8000f;
  background: rgba(216, 0, 15, .8);
  border-radius: 50% 50%;
  -webkit-transform-origin: 50% -100px;
  -webkit-animation: swing 3s infinite ease-in-out;
  box-shadow: -5px 5px 50px 4px #fa6c00
}

.deng-a {
  width: 100px;
  height: 90px;
  background: #d8000f;
  background: rgba(216, 0, 15, .1);
  margin: 12px 8px 8px 8px;
  border-radius: 50% 50%;
  border: 2px solid #dc8f03
}

.deng-b {
  width: 45px;
  height: 90px;
  background: #d8000f;
  background: rgba(216, 0, 15, .1);
  margin: -4px 8px 8px 26px;
  border-radius: 50% 50%;
  border: 2px solid #dc8f03
}

.xian {
  position: absolute;
  top: -20px;
  left: 60px;
  width: 2px;
  height: 20px;
  background: #dc8f03
}

.shui-a {
  position: relative;
  width: 5px;
  height: 20px;
  margin: -5px 0 0 59px;
  -webkit-animation: swing 4s infinite ease-in-out;
  -webkit-transform-origin: 50% -45px;
  background: orange;
  border-radius: 0 0 5px 5px
}

.shui-b {
  position: absolute;
  top: 14px;
  left: -2px;
  width: 10px;
  height: 10px;
  background: #dc8f03;
  border-radius: 50%
}

.shui-c {
  position: absolute;
  top: 18px;
  left: -2px;
  width: 10px;
  height: 35px;
  background: orange;
  border-radius: 0 0 0 5px
}

.deng:before {
  position: absolute;
  top: -7px;
  left: 29px;
  height: 12px;
  width: 60px;
  content: " ";
  display: block;
  z-index: 999;
  border-radius: 5px 5px 0 0;
  border: solid 1px #dc8f03;
  background: orange;
  background: linear-gradient(to right, #dc8f03, orange, #dc8f03, orange, #dc8f03)
}

.deng:after {
  position: absolute;
  bottom: -7px;
  left: 10px;
  height: 12px;
  width: 60px;
  content: " ";
  display: block;
  margin-left: 20px;
  border-radius: 0 0 5px 5px;
  border: solid 1px #dc8f03;
  background: orange;
  background: linear-gradient(to right, #dc8f03, orange, #dc8f03, orange, #dc8f03)
}

.deng-t {
  font-family: 黑体, Arial, Lucida Grande, Tahoma, sans-serif;
  font-size: 3.2rem;
  color: #dc8f03;
  font-weight: 700;
  line-height: 85px;
  text-align: center
}

.night .deng-box,
.night .deng-box1,
.night .deng-t {
  background: 0 0 !important
}

@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(-10deg)
  }

  50% {
    -moz-transform: rotate(10deg)
  }

  100% {
    -moz-transform: rotate(-10deg)
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-10deg)
  }

  50% {
    -webkit-transform: rotate(10deg)
  }

  100% {
    -webkit-transform: rotate(-10deg)
  }
}



.co-mid {

  width: 100%;
  display: inline-block;
  text-align: center;
  min-height: 50px;
}

.exp-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px auto 0;
  width: 95%;
  overflow: hidden;
  color: #fff;
}

.exp-title h1 {
  margin: 10px 0;
  font-size: 3.8rem;
  color: #fcfcfe;
  text-shadow: 0 1px 10px rgb(0 0 0 / 30%);
}

.exp-title .buttom {
  font-size: 1.5rem;
  display: block;
  margin-top: 30px;
}



.card {
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
  position: relative;
  background-color: var(--headerCOlor);
  margin: 60px auto;
  width: 90%;
}



.card-content {
  width: 60%;
  margin: 0 auto;
  padding: 34px 24px;
  border-radius: 0 0 2px 2px;
}

.card .tag-title {
  margin-bottom: 10px;
  color: #3C4858;
  font-size: 1.75rem;
  font-weight: 400;
}

.card .center-align {
  text-align: center;
}

.tags-icon {
  font-size: 2.5rem;
  transform: rotateZ(-90deg);
}

.tag-chips {
  margin: 2rem auto 0.5rem;
  max-width: 850px;
  text-align: center;
}

.tag-chips .item {
  color: #000;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  box-sizing: inherit;
  text-align: center;
}

.tag-chips .item {
  margin: 10px 10px;
  padding: 19px 14px;
  display: inline-flex;
  line-height: 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}

.tag-chips .item:hover {
  background-color: #ff8181;
  color: #fff;
  transition: .5s;
}

.add-category {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: #ff8181 !important;
  display: none;
  cursor: pointer;
}

.card:hover .add-category {
  display: block;
  animation: 1s ease;
}